! Catppuccin Mocha for nsxiv
Nsxiv.window.background: #1e1e2e
Nsxiv.window.foreground: #cdd6f4
Nsxiv.bar.font:          JetBrains Mono:size=11
Nsxiv.bar.background:    #11111b
nsxiv.bar.foreground:    #cdd6f4
